{% extends 'blog/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

 <section id="page-details-section">
     <p id="page-datails-article"><a href="{% url 'index' %}">Home</a>  >  Stories</p>
 </section><!--page-details-section-->

 <section id="all-the-single-articles" >
     <div class="container">
        <div class="row" id="single-post-row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-9 col-sm-9 col-xs-12">
                   <img src="{% static 'images/single-main.png' %}" id="single-post-main-image" class="img-responsive">
                   <hr id="under-single-image">
                   <div id="the-single-page-boxs">
                      <ul id="social-media-comment">
                         <li id="soical-media-box"><span id="admin-logo"><i class="fa fa-user"></i></span><span id="admin-text">Admin Post</span></li>
                         <li id="soical-media-box"><span id="admin-logo"><i class="fa fa-comment"></i></span><span id="admin-text">24 Comments</span></li>
                         <li id="soical-media-box"><span id="admin-logo"><i class="fa fa-heart"></i></span><span id="admin-text">501 Likes</span></li>
                      </ul>
                   </div>
                   <br>
                   <div id="the-main-articles">
                       {% for object in single %}
                        <p id="single-post-title-main">{{ object.tour_title }}</p>
                        <p id="single-article-part1">{{ object.tour_content }}</p>
                        <p id="single-article-part1">There’s a lot that goes into great online content. In this article, I’ve compiled six of my top ingredients to compelling, effective content that will help you achieve all of your content marketing goals and objectives. We live in a digital age where practically everyone Google searches to get the answers they need. Here’s how to write content to maximize the likelihood of being found in.</p>
                        <img src="{{ object.single_pic.url }}" id="the-midle-single-pic" class="img-responsive">
                        <p id="single-article-part1">There’s a lot that goes into great online content. In this article, I’ve compiled six of my top ingredients to compelling, effective content that will help you achieve all of your content marketing goals and objectives. We live in a digital age where practically everyone Google searches to get the answers they need. Here’s how to write content to maximize the likelihood of being found in.</p>
                        <p id="single-article-part1">There’s a lot that goes into great online content. In this article, I’ve compiled six of my top ingredients to compelling, effective content that will help you achieve all of your content marketing goals and objectives. We live in a digital age where practically everyone Google searches to get the answers they need. Here’s how to write content to maximize the likelihood of being found in.</p>
                        <img src="{% static 'images/single-page-video.png' %}" id="the-midle-single-pic" class="img-responsive">
                       {% endfor %}
                   </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                   <img src="{% static 'images/add1.png' %}" id="add-num-one">
                   <img src="{% static 'images/add2.png' %}" id="add-num-one">
                   <img src="{% static 'images/add3.png'%}" id="add-num-one">
                </div>
            </div>
        </div>
     </div>
 </section><!--all-articles-->

 <section id="single-blog-comment-section">
    <div class="container">
      <div class="row" id="single-comment-row">
        <div class="col-sm-12 col-md-12 col-xs-12">
            <div class="col-md-9 col-sm-9 col-xs-12" id="the-comment-section-box">
                <p id="commnet-section-title">Leave a comment</p>
                <div class="col-md-6 com-sm-6 col-xs-12">
                    <input type="Text" name="" placeholder="Your Name" id="cooment-box-name">
                </div>
                <div class="col-md-6 com-sm-6 col-xs-12">
                    <input type="Text" name="" placeholder="Your email" id="cooment-box-name">
                </div>
                <div class="col-md-12 com-sm-12 col-xs-12">
                    <textarea type="Text" name="" placeholder="Your comment" id="cooment-box-comment"></textarea>
                    <p id="single-comment-button">Submit</p>
                </div>
            </div>
        </div>
      </div>
    </div>
 </section>

 <section id="I-am-featured-in">
     <div class="container">
        <div class="row" id="I-am-featured-row">
             <div id="text-moment-text-box">
              <p id="best-moment-title">I Am Featured In</p>
              <div id="line-num-four">
                  <hr id="best-moment-line1">
                  <hr id="best-moment-line2">
                  <hr id="best-moment-line3">
               </div>
              <p id="best-moment-para" class="toggle-class-four">It is a long established that a reader will be distreacted by the readable<br> content of a page when looking at its layout.
              </p>
            </div>
            <div id="single-page-logo-list">
               <ul id="logo-list">
                 <li><img src="{% static 'images/v.logo.png' %}" id="list-logo"></li>
                 <li><img src="{% static 'images/logo3.png' %}" id="list-logo"></li>
                 <li><img src="{% static 'images/logo4.png' %}" id="list-logo"></li>
                 <li><img src="{% static 'images/logo1.png' %}" id="list-logo"></li>
                 <li><img src="{% static 'images/logo5.png' %}" id="list-logo"></li>
                 <li><img src="{% static 'images/logo2.png' %}" id="list-logo"></li>

                </ul>
            </div>
        </div>
     </div>
 </section><!--I-am-featured-in-->

 <section id="footer-section">
    <div class="container">
       <div class="row" id="footer-row">
          <div class="col-md-12 col-sm-12 col-xs-12">
             <div class="col-md-3 col-sm-3 col-xs-6" id="footer-main-section">
                <img src="{% static 'images/logo.png' %}" id="footer-logo">
                <p id="footer-article">Contrary to popular belife,Lorem psum is not smiply random text.It has roots in a pice of classical Latin literature.</p>
                <div class="col-sm-6" id="footer-input-section">
                <input type="" name="" placeholder="Enter Your Email" id="email-input">
                </div>
                <div class="col-sm-6">
                <button id="footer-button">SUBSCRIBE</button>
                </div>
                <div>
                <p id="footer-copy-right">@ 2018 All Copy Right By Vaidroad</p>
                </div>
             </div>
             <div class="col-md-3 col-sm-3 col-xs-6" id="footer-main-section">
                <p id="quick-link-title">Quick Link</p>
                <ul id="footer-list">
                    <li><a>About Me</a></li>
                    <li><a>Description</a></li>
                    <li><a>Tour Story</a></li>
                    <li><a>Hotel & Resort</a></li>
                </ul>
             </div>
             <div class="col-md-3 col-sm-3 col-xs-6" id="footer-main-section">
                <p id="twitter-title">Twitter Feed</p>
                 <p id="footer-article">Contrary to popular belife,Lorem psum is not smiply random text.It has roots in a pice of classical Latin literature.</p>
                 <p id="footer-article">Contrary to popular belife,Lorem psum is not smiply random text.It has roots in a pice of classical Latin literature.</p>
             </div>
             <div class="col-md-3 col-sm-3 col-xs-6" id="footer-main-section">
                <p id="twitter-title">Contact Information</p>
                <div id="location-box">
                <span id="location-title">Locaton:</span><span>Gaibandha,Materpara</span>
                </div>
                <div id="location-box">
                <span id="location-title">Email:</span><span>Vaidroad@gmail.com</span>
                </div>
                <div id="location-box">
                <span id="location-title">Phone:</span><span>+880176543854</span>
                </div>
                <div id="location-box">
                <span id="location-title">Website:</span><span>www.vaidroad.com</span>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section><!--Latest-artcle-section-->

{% endblock %}